.joinourteam_main {
  background: rgba(26, 41, 64, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 30px 0 50px;
}

.joinourteam_textside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.joinourteam_heading {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
}

.joinourteam_button {
  background: #f79d2b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  width: 451px;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

@media only screen and (max-width: 992px) {
  .joinourteam_textside {
    justify-content: center;
  }
  .joinourteam_heading {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 30px;
  }

  .joinourteam_button {
    width: 300px;
    height: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .joinourteam_main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 0 20px;
  }

  .joinourteam_button {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .joinourteam_imageside img {
    height: 214px;
    width: 140px;
  }

  .joinourteam_heading {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .joinourteam_button {
    width: 250px;
    height: 50px;
    font-size: 14px;
    line-height: 20px;
  }
}
