.professional_signup_main_container {
    background: url("./images/professionalRegister_background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.professional_signup_main_back {
    height: 50px;
    cursor: pointer;
    margin: 10px;
}

.signup_form {
    height: 90vh;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}

.signup_form::-webkit-scrollbar {
    display: none;
}

.signup_form_heading {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

.signup_form span {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
}

.signup_form_input {
    background: #d9d9d9;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
}

.signup_form_input input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
}

.signup_form_input input::placeholder {
    /* text-align: center; */
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}

.signup_form_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signup_form_button button {
    background: #1a2940;
    border-radius: 15px;
    outline: none;
    border: none;
    width: 100%;
    padding: 18px;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
}

.signup_form_or {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signup_form_line {
    border: 2px solid #d2d2d2;
    width: 100%;
}

.signup_form_option {
    margin: 0 8px;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #d2d2d2;
}

.signup_form_social_connect {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.signup_form_switch {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_form_switch span a {
    margin-left: 10px;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .signup_form_heading {
        font-size: 28px;
        line-height: 34px;
    }

    .signup_form_input input::placeholder,
    .signup_form_button button,
    .signup_form_switch,
    .signup_form_heading span {
        font-size: 18px;
        line-height: 26px;
    }
}
@media only screen and (max-width: 576px) {
    .signup_form_heading {
        font-size: 26px;
        line-height: 32px;
    }

    .signup_form_input input::placeholder,
    .signup_form_button button,
    .signup_form_switch {
        font-size: 16px;
        line-height: 22px;
    }
    .signup_form_heading span {
        font-size: 14px;
        line-height: 20px;
    }
}
