.payment_bill {
  margin-top: 20px;
}

.payment_done_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.payment_done_button button {
  background: #f79d2b;
  border-radius: 12px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  padding: 10px 50px;
  border: none;
  outline: none;
}
