.oneclick_main {
  background: #f79d2b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.oneclick {
  padding: 40px 0;
}

.oneclick_heading {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #000000;
  margin-bottom: 35px;
}

.oneclick_boxes_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.oneclick_boxes {
  width: 261px;
  height: 179px;
  border-radius: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  margin-bottom: 20px;
}

.oneclick_boxes_button {
  position: absolute;
  left: 20px;
  bottom: 25px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 10px 30px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

@media only screen and (max-width: 992px) {
  .oneclick_heading {
    font-size: 28px;
    line-height: 34px;
  }
}
